<aside class="app-sidebar bg-body-secondary shadow"
       data-bs-theme="dark">

    <div class="sidebar-brand">

        <a href="/"
           class="brand-link text-decoration-none">

            <span class="brand-text fw-light">
                BI Dashboard
            </span>

        </a>

    </div>

    <div class="sidebar-wrapper">

        <nav class="mt-2">

            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu">

                <li class="nav-item">

                    <a href="/brand_performance/"
                       class="nav-link">

                        <i class="nav-icon bi bi-bar-chart"></i>

                        <p>
                            Brand Performance
                        </p>

                    </a>

                </li>

            </ul>

        </nav>

    </div>

</aside>